doctype html
html(lang="en")
    head
        include ../partials/head

    body.overflow-hidden
        include ../partials/navbar
        .drawer.drawer-mobile
            input#my-drawer-2.drawer-toggle(type="checkbox")
            .drawer-content.p-5
                block body
            .drawer-side.p-4.w-60.bg-base-300.h-screen.overflow-y-hidden
                label
                    ul.menu.mt-2
                        li
                            a(href="/dashboard/uploads", class="rounded") Uploads
                        li
                            a(href="/dashboard/settings", class="rounded") Settings